[user]
	name = lessuseless
	email = 179788364+lessuselesss@users.noreply.github.com

[core]
	editor = vim

[init]
	defaultBranch = main

[color]
	ui = auto

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	lg = log --oneline --graph --decorate
